@import "../../../assets/styles/common.scss";
@import "./web.scss";
@import "./h5.scss";
@import "./uni.scss";
@import "./wx.scss";
@import "./color.scss";

.my-header {
  position: fixed;
  top: var(--status-bar-height);
  padding: 0 26rpx;
  left: 0;
  width: 100%;
  height: 100rpx;
  background-color: #fff;
  z-index: 99;
  box-sizing: border-box;
  position: fixed;
  .img {
    height: 15rpx;
    width: 15rpx;
    position: relative;
    z-index: 100;
    border-top: 4rpx solid #000;
    border-left: 4rpx solid #000;
    transform: rotate(-45deg);
  }
  .name {
    font-weight: 500;
    font-size: 28rpx;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.my-placeholder {
  height: 100rpx;
  z-index: 1;
  position: relative;
  padding-top: var(--status-bar-height);
}
